.venv/
.idea/
__pycache__/
qdrant_storage/
postgres_data/
ollama_data/
hf_cache/

.vscode
.env



# mime-types
*.m4a
*.mp3
*.mp4
*.wavose
*.aac
*.webm
*.mka
*.mkv
*.ogg
*.opus

*.txt
*.exe
*.shp
*.log
*.pub

*.rar
*.zip

!README.md